<main>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Truco o Trato</h1>
        <h2>Reto Especial Halloween Profile 2023</h2>
        <p class="col-lg-10 fs-4">Personas:</p>
        <ul class="list-group">
          <li *ngFor="let person of listPersons" class="list-group-item">{{ person.name + '; ' + person.age + ' años; ' + person.size + 'cm' }}</li>
        </ul>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" [formGroup]="form">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" formControlName="name">
            <label for="floatingInput">Nombre</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" min="1" max="99" class="form-control" id="age" formControlName="age">
            <label for="floatingInput">Edad</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" min="1" max="300" class="form-control" id="size" formControlName="size">
            <label for="floatingInput">Altura (en cm)</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" (click)="addPerson()" type="button" [disabled]="form.invalid">Añadir</button>
        </form>
      </div>
      <div class="d-grid gap-2 col mx-auto">
        <button class="w-100 btn btn-lg btn-dark" (click)="runTrick()" type="button">TRUCO</button>
      </div>
      <div class="d-grid gap-2 col mx-auto">
        <button class="w-100 btn btn-lg btn-pink" (click)="runTreat()" type="button">TRATO</button>
      </div>
      <div class="col-12 h1 text-center">
        {{ result }}
      </div>
    </div>
  </div>
</main>